#nav {
    background-color: #555;
    height: 90px;
    max-width: 1020px;
    padding: 10px;
    width: 100%;
}
#logo {
    float:left;
}

#navitems li {
    float: right;
}

#hero {
    margin: 30px;
}